@model ReviewZone.Models.AccountModel

@{ ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/Content/CSS/Details.css" rel="stylesheet" />
<h2 class="text-center">@Html.DisplayFor(model => model.Employee.FullName)'s Details</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <div class="container">
                        <h4 class="text-center">Account Details</h4>
                        <hr />
                        <ul class="dl-horizontal list-group-item-dark">

                            <li class="list-group-item list-group-item-dark fw-bolder">
                                @Html.DisplayNameFor(model => model.AccountTitle)
                                : <i class="fas fa-arrow-down"></i>
                            </li>

                            <li class="list-group-item list-group-item-primary">
                                @Html.DisplayFor(model => model.AccountTitle)
                            </li>

                            <li class="list-group-item list-group-item-dark fw-bolder">
                                @Html.DisplayNameFor(model => model.Description)
                                : <i class="fas fa-arrow-down"></i>
                            </li>

                            <li class="list-group-item list-group-item-primary">
                                @Html.DisplayFor(model => model.Description)
                            </li>

                            <li class="list-group-item list-group-item-dark fw-bolder">
                                @Html.DisplayNameFor(model => model.InitialBalance)
                                : <i class="fas fa-arrow-down"></i>
                            </li>

                            <li class="list-group-item list-group-item-primary">
                                @Html.DisplayFor(model => model.InitialBalance)
                            </li>

                            <li class="list-group-item list-group-item-dark fw-bolder">
                                @Html.DisplayNameFor(model => model.AccountNumber)
                                : <i class="fas fa-arrow-down"></i>
                            </li>

                            <li class="list-group-item list-group-item-primary">
                                @Html.DisplayFor(model => model.AccountNumber)
                            </li>

                            <li class="list-group-item list-group-item-dark fw-bolder">
                                @Html.DisplayNameFor(model => model.Phone)
                                : <i class="fas fa-arrow-down"></i>
                            </li>

                            <li class="list-group-item list-group-item-primary">
                                @Html.DisplayFor(model => model.Phone)
                            </li>

                            <li class="list-group-item list-group-item-dark fw-bolder">
                                @Html.DisplayNameFor(model => model.Emp_ID)
                                : <i class="fas fa-arrow-down"></i>
                            </li>

                            <li class="list-group-item list-group-item-primary">
                                @Html.DisplayFor(model => model.Employee.FullName)
                            </li>

                        </ul>
                        <p>
                            <a href="@Url.Action("Edit", "Account", new { id = Model.Account_No })" class="btn btn-primary btn-icon waves-effect waves-themed has-tooltip">
                                <i class="fas fa-pencil-alt">

                                </i>
                                Edit
                            </a> |
                            <a href="@Url.Action("GetAllAccount", "Account")" class="btn btn-danger waves-effect waves-themed has-tooltip">
                                <i class="fas fa-backward"></i>
                                Back to List
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
