@model ReviewZone.Models.CustomerModel

@{ ViewBag.Title = "Create"; }
<link href="~/Content/CSS/Customercreate.css" rel="stylesheet" />
<main id="clx-page-content" role="main" class="page-content ">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-hdr">
                    <h2><span></span>Add Customer</h2>
                </div>
                <div class="panel-container show" id="ibox_form">
                    <div class="panel-content">
                        <div class="px-2">
                            @using (Html.BeginForm())
                            {
                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <form id="rform">
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-12">
                                                            <div class="mb-3 row">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label h6  col-md-4" })
                                                                    <div class="col-md-10">
                                                                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label h6  col-md-4" })
                                                                    <div class="col-md-10">
                                                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label h6  col-md-4" })
                                                                    <div class="col-md-10">
                                                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label h6  col-md-4" })
                                                                    <div class="col-md-10">
                                                                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <div class="form-group">

                                                                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label h6  col-md-4" })

                                                                    <div class="col-md-10">
                                                                        @Html.DropDownListFor(model => model.Country, new SelectList(ViewBag.currList), "--Select Country--", new { @class = "form-control" })
                                                                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">

                                                                <div class="form-group">
                                                                    @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label h6  col-md-4" })
                                                                    <div class="col-md-10">
                                                                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(model => model.BusinessNumber, htmlAttributes: new { @class = "control-label h6  col-md-4" })
                                                                    <div class="col-md-10">
                                                                        @Html.EditorFor(model => model.BusinessNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.BusinessNumber, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            <div class="mb-3 row">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label h6  col-md-4" })
                                                                    <div class="col-md-10">
                                                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(model => model.SecondaryEmail, htmlAttributes: new { @class = "control-label h6  col-md-4" })
                                                                    <div class="col-md-10">
                                                                        @Html.EditorFor(model => model.SecondaryEmail, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.SecondaryEmail, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label h6  col-md-4" })
                                                                    <div class="col-md-10">
                                                                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label h6  col-md-4" })
                                                                    <div class="col-md-10">
                                                                        @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <div class="form-group">

                                                                    @Html.LabelFor(model => model.Group, htmlAttributes: new { @class = "control-label h6  col-md-4" })

                                                                    <div class="col-md-10">
                                                                        @Html.DropDownListFor(model => model.Group, new SelectList(ViewBag.groupList), "--Select Group--", new { @class = "form-control" })
                                                                        @Html.ValidationMessageFor(model => model.Group, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 row">
                                                                <div class="form-group">

                                                                    @Html.LabelFor(model => model.Emp_ID, htmlAttributes: new { @class = "control-label h6  col-md-4" })
                                                                    <div class="col-md-10">
                                                                        @Html.DropDownListFor(model => model.Emp_ID, ViewBag.employeeList as SelectList, "--Select Owner--", new { @class = "form-control" })
                                                                        @Html.ValidationMessageFor(model => model.Emp_ID, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>

                                                                <span class="help-block"><a href="@Url.Action("Create", "Employee")" id="contact_add">| Or Add New Employee</a> </span>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="mb-3 mt-3">
                                                                <button class="btn btn-primary mr-3 waves-effect waves-themed" value="Create" type="submit" id="submit">
                                                                    <i class="fas fa-save">
                                                                    </i>
                                                                    Save
                                                                </button> |
                                                                <a href="@Url.Action("GetAllCustomer", "Customer")">Or Cancel</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    function ShowSuccessMsg() {
        swal("Customer Created!", "Customer Successfully Created!", "success");

    }

    function ShowFailure() {
        swal("Invalid Inputs!", "Customer Cannot Be Created!", "error");
    }



</script>
@if (ViewBag.JavaScriptFunction != null)
{
    <script type="text/javascript">
        @Html.Raw(ViewBag.JavaScriptFunction)
    </script>
}

