@model IEnumerable<ReviewZone.Models.CustomerModel>

@{ ViewBag.Title = "GetAllCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/Content/CSS/EmployeeList.css" rel="stylesheet" />
<main id="clx-page-content" role="main" class="page-content ">
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="fas fa-user-friends"></i> Customers <span class="fw-300"></span>
        </h1>
        <div class="subheader-block d-lg-flex align-items-center">
            <a href="@Url.Action("Create", "Customer")" class="btn btn-primary waves-effect waves-themed">Add an Customer</a>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
<div class="col-lg-4">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <div class="text-center">
                    <img alt="image" class="rounded-circle m-t-xs img-fluid avatar-xl mb-4" src="~/Images/default_Employee.png">
                    <h3><strong>@Html.DisplayFor(modelItem => item.FullName)</strong></h3>
                    <div class="m-t-xs text-muted">
                        @Html.DisplayFor(model => item.Group)
                    </div>
                    <p>
                        <i class="fas fa-at"></i>
                        @Html.DisplayFor(model => item.Email)
                    </p>
                    <address>
                        <strong>
                            @Html.DisplayFor(model => item.Company)
                        </strong>
                        <br>
                        <strong>Business Number</strong>:
                        <span class="text-warning">
                            @Html.DisplayFor(modelItem => item.BusinessNumber)
                        </span>
                        <br>
                        <div class="hr-line-dashed">
                        </div>

                        @Html.DisplayFor(modelItem => item.Address), <br>

                        @Html.DisplayFor(modelItem => item.City) <br>
                        @Html.DisplayFor(modelItem => item.State) 
                        @Html.DisplayFor(modelItem => item.Zip) <br>
                        @Html.DisplayFor(modelItem => item.Country) <br>
                        <abbr title="Phone">P:</abbr>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </address>
                    <div>
                        <a href="@Url.Action("Edit", "Customer", new { id = item.Customer_ID })" class="btn btn-warning waves-effect waves-themed">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>}
    </div>
</main>