﻿@using ReviewZone.Models;
@model HomeModel
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/CSS/Home.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/Chart.js"></script>

<style>
    .table-responsive {
        table-layout: fixed;
        width: 100%;
    }

    .table-responsive {
        overflow-x: hidden !important;
    }
</style>
<main id="clx-page-content" role="main" class="page-content" style="padding-top: 3rem;">
    <form id="invform" method="post">
        <div class="row" id="ibox_form">
            <div class="alert alert-danger" id="emsg" style="display: none;">
                <span id="emsgbody"></span>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-hdr">
                        <h2>
                            Dashboard
                        </h2>
                    </div>
                    <div class="panel-container">
                        <div class="panel-content">
                            <div class="row">
                                <div style="padding-left: 1.5rem; padding-right: 1.5rem;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="@Url.Action("GetAllCustomer", "Customer")">
                                                <div class="card border-0 mb-2" style="background-color: #33646F; ">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="h1 text-white mb-0">@ViewBag.CusTotal</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="symbol symbol-circle symbol-light symbol-40 flex-shrink-0 me-3 float-end">
                                                                    <div class="symbol-label">
                                                                        <i class="fas fa-user" style="color: black !important;"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="text-white text-hover-primary font-weight-bold font-size-lg mt-1">Customers</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="@Url.Action("GetAllEmployee", "Employee")">
                                                <div class="card mb-2" style="background-color: #3D4E74; ">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="h1 text-white mb-0">@ViewBag.EmpTotal</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="symbol symbol-circle symbol-light symbol-40 flex-shrink-0 me-3 float-end">
                                                                    <div class="symbol-label">
                                                                        <i class="fas fa-signal" style="color: black !important;"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="text-white text-hover-primary font-weight-bold font-size-lg  mt-1">Employees</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="@Url.Action("GetAllTask", "Task")">
                                                <div class="card border-0 mb-2" style="background-color: #6947E4; ">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="h1 text-white  mb-0">@ViewBag.TaskTotal</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="symbol symbol-circle symbol-light symbol-40 flex-shrink-0 me-3 float-end">
                                                                    <div class="symbol-label">
                                                                        <i class="fas fa-tasks" style="color: black !important;"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="text-white text-hover-primary font-weight-bold font-size-lg mt-1">Tasks</p>
                                                            </div>
                                                            <div class="col">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="panel-container">
                                <div class="panel-content">
                                    <div class="row mt-3">
                                        <div style="padding-left: 1.5rem; padding-right: 1.5rem;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="chart_container">
                                                        <div id="chart"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 sortable-grid ui-sortable">
                <div id="panel-12" class="panel border-0 panel-sortable" role="widget">
                    <div class="panel-hdr" role="heading">
                        <h2 class="fw-bolder ui-sortable-handle">
                            Recent Customers
                        </h2>
                    </div>
                    <div class="panel-container show" role="content">
                        <div class="panel-content">
                            <div class="table-responsive p-3" id="ib_data_panel">
                                <div id="clx_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="mat-elevation-z8">
                                            <table class="table table-striped table-dark table-hover" id="dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Customer
                                                        </th>
                                                        <th>
                                                            Owner
                                                        </th>
                                                        <th>
                                                            FullName
                                                        </th>
                                                        <th>
                                                            Phone Number
                                                        </th>
                                                        <th>
                                                            Address
                                                        </th>
                                                        <th>
                                                            Country
                                                        </th>
                                                        <th>
                                                            Email
                                                        </th>
                                                        <th>
                                                            Actions
                                                        </th>
                                                    </tr>

                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.Customer)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <img alt="image" height="70" width="70" class="rounded-circle m-t-xs img-fluid avatar-xl mb-4" src="~/Images/default_Employee.png">
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Employee.FullName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FullName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Address)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Country)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Email)
                                                            </td>
                                                            <td id="customer">
                                                                <a href="@Url.Action("Edit", "Customer", new { id = item.Customer_ID })" class="btn btn-primary btn-icon waves-effect waves-themed has-tooltip">
                                                                    <i class="fas fa-pencil-alt">
                                                                    </i>
                                                                </a> |
                                                                <a href="@Url.Action("Details", "Customer", new { id = item.Customer_ID })" class="btn btn-info btn-icon waves-effect waves-themed has-tooltip">
                                                                    <i class="fas fa-user-alt">
                                                                    </i>

                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 sortable-grid ui-sortable">
            <div id="panel-12" class="panel border-0 panel-sortable" role="widget">
                <div class="panel-hdr" role="heading">
                    <h2 class="fw-bolder ui-sortable-handle">
                        Recent Employees
                    </h2>
                </div>
                <div class="panel-container show" role="content">
                    <div class="panel-content">
                        <div class="table-responsive p-3" id="ib_data_panel">
                            <div id="clx_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="mat-elevation-z8">
                                        <table class="table table-striped table-dark table-hover" id="dataTable1">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Employee
                                                    </th>
                                                    <th>
                                                        FullName
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>
                                                    <th>
                                                        Department
                                                    </th>
                                                    <th>
                                                        JobTitle
                                                    </th>
                                                    <th>
                                                        Address
                                                    </th>
                                                    <th>
                                                        Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Employee)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img src="@Url.Content(item.Image)" width="70" height="70" class="figure-img" onerror="this.onerror = null; this.src = '/Images/default_Employee.png';" />
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FullName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Email)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Department)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.JobTitle)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Address)
                                                        </td>
                                                        <td id="employee">
                                                            <a href="@Url.Action("Edit", "Employee", new { id = item.Emp_ID })" class="btn btn-primary btn-icon waves-effect waves-themed has-tooltip">
                                                                <i class="fas fa-pencil-alt">
                                                                </i>
                                                            </a> |
                                                            <a href="@Url.Action("Details", "Employee", new { id = item.Emp_ID })" class="btn btn-info btn-icon waves-effect waves-themed has-tooltip">
                                                                <i class="fas fa-user-alt">
                                                                </i>

                                                            </a>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 sortable-grid ui-sortable">
            <div id="panel-12" class="panel border-0 panel-sortable" role="widget">
                <div class="panel-hdr" role="heading">
                    <h2 class="fw-bolder ui-sortable-handle">
                        Recent Tasks
                    </h2>
                </div>
                <div class="panel-container show" role="content">
                    <div class="panel-content">
                        <div class="table-responsive p-3" id="ib_data_panel">
                            <div id="clx_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="mat-elevation-z8">
                                        <table class="table table-striped table-dark table-hover" id="dataTable2">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Task Name
                                                    </th>
                                                    <th>
                                                        Due Date
                                                    </th>
                                                    <th>
                                                        Assigned To
                                                    </th>
                                                    <th>
                                                        Status
                                                    </th>
                                                    <th>
                                                        Evaluator
                                                    </th>
                                                    <th>
                                                        Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.Task)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TaskName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DueDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Employee.FullName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Status)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Evaluator.FullName)
                                                        </td>
                                                        <td id="task">
                                                            <a href="@Url.Action("Edit", "Task", new { id = item.Task_ID })" class="btn btn-primary btn-icon waves-effect waves-themed has-tooltip">
                                                                <i class="fas fa-pencil-alt">
                                                                </i>
                                                            </a> |
                                                            <a href="@Url.Action("Details", "Task", new { id = item.Task_ID })" class="btn btn-info btn-icon waves-effect waves-themed has-tooltip">
                                                                <i class="fas fa-tasks">
                                                                </i>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 sortable-grid ui-sortable">
            <div id="panel-12" class="panel border-0 panel-sortable" role="widget">
                <div class="panel-hdr" role="heading">
                    <h2 class="fw-bolder ui-sortable-handle">
                        Recent Products
                    </h2>
                </div>
                <div class="panel-container show" role="content">
                    <div class="panel-content">
                        <div class="table-responsive p-3" id="ib_data_panel">
                            <div id="clx_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="mat-elevation-z8">
                                        <table class="table table-striped table-dark table-hover" id="dataTable3">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Image
                                                    </th>
                                                    <th>
                                                        Unit Price
                                                    </th>
                                                    <th>
                                                        Description
                                                    </th>
                                                    <th>
                                                        TotalInStock
                                                    </th>
                                                    <th>
                                                        Color
                                                    </th>
                                                    <th>
                                                        Actions
                                                    </th>
                                                </tr>

                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.Product)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img src="@Url.Content(item.Image)" width="50" height="50" class="figure-img" />
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.UnitPrice)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Description)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TotalInStock)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Color)
                                                        </td>
                                                        <td id="product">
                                                            <a href="@Url.Action("Edit", "Product", new { id = item.ItemNumber })" class="btn btn-primary btn-icon waves-effect waves-themed has-tooltip">
                                                                <i class="fas fa-pencil-alt">
                                                                </i>
                                                            </a> |
                                                            <a href="@Url.Action("Details", "Product", new { id = item.ItemNumber })" class="btn btn-info waves-effect waves-themed has-tooltip">
                                                                <i class="fab fa-product-hunt">
                                                                </i>

                                                            </a>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
<script>
    $(document).ready(function () {
        var expense = @Html.Raw(Json.Encode(ViewBag.EXPENSEAMOUNT));
        var income = @Html.Raw(Json.Encode(ViewBag.INCOMEAMOUNT));
        chart(income, expense);
    });

    function chart(income, expense) {

    var options = {
        series: [{
            name: 'Incomes',
            type: 'column',
            data: income
        }, {
            name: 'Expenses',
            type: 'area',
            data: expense
        }],
        chart: {
            height: 450,
            type: 'line',
            stacked: false,
        },
        stroke: {
            width: [0, 2, 5],
            curve: 'smooth'
        },
        plotOptions: {
            bar: {
                columnWidth: '10%'
            }
        },

        fill: {
            opacity: [0.85, 0.25, 1],
            gradient: {
                inverseColors: false,
                shade: 'light',
                type: "vertical",
                opacityFrom: 0.85,
                opacityTo: 0.55,
                stops: [0, 100, 100, 100]
            }
        },
        labels: ['01/01/2021', '02/01/2021', '03/01/2021', '04/01/2021', '05/01/2021', '06/01/2021', '07/01/2021',
            '08/01/2021', '09/01/2021', '10/01/2021', '11/01/2021', '12/01/2021'
        ],
        markers: {
            size: 0
        },
        xaxis: {
            type: 'datetime'
        },
        yaxis: {
            min: 0
        },
        tooltip: {
            shared: true,
            intersect: false,
            y: {
                formatter: function (y) {
                    if (typeof y !== "date") {
                        return y.toFixed(0) + " ruppes";
                    }
                    return y;

                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
    }

</script>