@model IEnumerable<ReviewZone.Models.ExpenseModel>

@{
    ViewBag.Title = "ExpenseReports";
}

<link href="~/Content/CSS/AccountList.css" rel="stylesheet" />
<main id="clx-page-content" role="main" class="page-content ">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-hdr">
                    <h2>Expense Reports</h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content" style="position: relative;">
                        <h4>Expense Summary</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
                                    <div class="">
                                        <h5 class="display-4 d-block l-h-n m-0 fw-500">
                                            @ViewBag.totalAmount
                                            <small class="m-0 l-h-n">Total Expense</small>
                                        </h5>
                                        <i class="fas fa-gem position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="p-3 bg-success-200 rounded overflow-hidden position-relative text-white mb-g">
                                    <div class="details">
                                        <h5 class="display-4 d-block l-h-n m-0 fw-500">
                                            @ViewBag.monthAmount
                                            <small class="m-0 l-h-n">Total Expense This Month </small>
                                        </h5>
                                        <i class="fas fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6" style="font-size: 8rem;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="p-3 bg-primary-200 rounded overflow-hidden position-relative text-white mb-g">
                                    <div>
                                        <h5 class="display-4 d-block l-h-n m-0 fw-500">
                                            @ViewBag.thirtyAmount
                                            <small class="m-0 l-h-n">Total Expense Last 30 days </small>
                                        </h5>
                                        <i class="fas fa-credit-card position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
                                    <div>
                                        <h5 class="display-4 d-block l-h-n m-0 fw-500">
                                            @ViewBag.weekAmount
                                            <small class="m-0 l-h-n">Total Expense This Week </small>
                                        </h5>
                                        <i class="fas fa-globe position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <h2>Last 20 Expense</h2>
                        <hr>
                        <div class="table-responsive" id="ib_data_panel">
                            <div id="clx_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="mat-elevation-z8">
                                        <table class="table table-striped table-dark table-hover" id="dataTable">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Date)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Account_No)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Emp_ID)
                                                    </th>
                                                    <th>
                                                        Type
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Category)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Amount)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Customer_ID)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Description)
                                                    </th>
                                                    <th>
                                                        Cr.
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Date)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Account.AccountTitle)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Employee.FullName)
                                                        </td>
                                                        <td>
                                                            Expense
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Category)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Amount)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Customer.FullName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Description)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Amount)
                                                        </td>
                                                    </tr>
                                                }


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <h2>Reports by Month</h2>
                        <hr>
                        <div class="panel-container">
                            <div class="panel-content">
                                <div class="row mt-3">
                                    <div style="padding-left: 1.5rem; padding-right: 1.5rem;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="chart_container">
                                                    <div id="lineChart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <hr />
                            <h2>Expense by Category</h2>
                            <hr>
                            <div>
                                <div class="panel-container">
                                    <div class="panel-content">
                                        <div class="row mt-3">
                                            <div style="padding-left: 1.5rem; padding-right: 1.5rem;">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="center">
                                                            <div id="chart"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>

    $(document).ready(function () {
        var amount = @Html.Raw(Json.Encode(ViewBag.AMOUNT));
        var date = @Html.Raw(Json.Encode(ViewBag.DATE));

        lineChart(amount, date);

        var count = @Html.Raw(Json.Encode(ViewBag.CATCOUNT));
        var category = @Html.Raw(Json.Encode(ViewBag.CATLABEL));

        donutChart(count, category);

    });
    function lineChart(amount, date) {
        var options = {
            series: [{
                name: "Category",
                data: amount,
            }],
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: true
                }
            },
            dataLabels: {
                enabled: true
            },
            stroke: {
                curve: 'straight'
            },
            title: {
                text: 'Reports by Month',
                align: 'left'
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                },
            },
            xaxis: {
                categories: date,
            }
        };

        var chart = new ApexCharts(document.querySelector("#lineChart"), options);
        chart.render();
    }


    function donutChart(count, category) {

        var options = {
            series: count,
            labels: category,
            chart: {
                width: 380,
                type: 'donut',
            },
            dataLabels: {
                enabled: true
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 400
                    },
                    legend: {
                        show: true
                    }
                }
            }],
            legend: {
                position: 'right',
                offsetY: 0,
                height: 430,
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    }


</script>
